# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
media/
*.sqlite3
.env

# Virtual environments
venv/
.env/
.env.*

# Node / React
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
